<template>
    <div class="index-mobile">
        <div class="bannar-warp">
            <div>我的反馈</div>
            <div class="back-btn" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
        </div>
        <div class="content">
            <div class="content-modular" v-for="(item, index) in responseList" :key="index">
                <div class="content-header">反馈{{index + 1}}<span class="response-time">在 {{item.ctime.substr(5, 11)}} 提交</span></div>
                <div class="pic-areas">
                    <div class="image-list pic-a upload-img">
                        <div class="image-item" :key="image.path" v-for="image in item.content.imageList">
                            <img :src="image.domain + image.path" />
                        </div>
                    </div>
                    <div class="pic-text" :style="item.content.imageList.length == 0 ? 'display:inline-block':'display:none'">请上传要完整图案、细节图、尺寸参照图、正反比例对比等</div>
                </div>
                <div class="content-item">
                    <div class="number-left">档口名字</div>
                    <div class="number-right" v-text="item.content.name"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">档口地址</div>
                    <div class="number-right" v-text="item.content.add"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">档口联系电话</div>
                    <div class="number-right" v-text="item.content.phone"></div>
                </div>
                <div class="content-item">
                    <img src="../../../res/response/confirm_label.jpg" v-show="item.response_status == 1" class="response-image" />
                    <img src="../../../res/response/unconfirm_label.jpg" v-show="item.response_status == 3" class="response-image" />
                    <img src="../../../res/response/reject_label.jpg" v-show="item.response_status == 2" class="response-image" />
                    <div class="number-left">价格</div>
                    <div class="number-right" v-text="item.content.price"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">现货</div>
                    <div class="number-right" v-text="item.content.goods"></div>
                </div>
                <div v-show="index == responseList.length - 1" class="add-response-btn-wrap">
                    <router-link tag="div" :to="{name:'response_submit', params:{id: item.apply_id}}" class="response-btn">添加反馈</router-link>
                </div>
            </div>
        </div>
        <router-link tag="div" v-if="apply_uid != ''" class="talk-fixed-btn" :to="{name:'talking',params:{id:apply_uid}}">联系客户</router-link>
    </div>
</template>
<script src="./response_agency.js"></script>
<style src="./response_agency.scss" lang="scss" scoped></style>
