.index-mobile {
    .footer {
        border-top: 1px solid #eee;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        line-height: 50px;
        .footer-imga {
            line-height: 50px;
            display: inline-block;
            width: 23%;
            text-align: center;
            i {
                vertical-align: middle;
                font-size: 24px;
            }
        }
        .footer-imgb,
        .footer-imgc,
        .footer-imgd {
            @extend .footer-imga
        }
    }
    @mixin wh($w:100%, $h:80px) {
        width: $w;
        height: $h;
    }
    @mixin mg($t:0px, $r:0px, $b:0px, $l:0px) {
        margin-top: $t;
        margin-right: $r;
        margin-bottom: $b;
        margin-left: $l;
    }
    @mixin pd($t:0px, $r:0px, $b:0px, $l:0px) {
        padding-top: $t;
        padding-right: $r;
        padding-bottom: $b;
        padding-left: $l;
    }

    .bannar-warp {
        position:relative;
        text-align:center;
        width:100%;
        height:44px;
        background-color:#ff789b;
        line-height: 44px;

        .back-btn {
            color: #fff;
            width: 10%;
            position: absolute;
            top: 0;

            i{
                font-size:16px;
            }
        }
        .message{
            position:absolute;
            z-index:3;
            top:-4px;
            right:22px;

            i{
                font-size:22px;
            }
        }

        div{
            color:#fff;
            font-size: 14px;
        }
    }


    .content {
        background: #fafafa;

        .content-modular {
            border-radius: 5px;
            margin: 10px;
            padding: 0 0 20px 0;
            box-sizing: border-box;
            position: relative;
            background-color: #fff;
            box-shadow: 1px 1px 6px #fbe9ec;

            .content-header {
                text-align: center;
                font-size: 14px;
                color: #333;
                padding: 20px 0;
                border-bottom: 1px solid #efefef;

                .response-time {
                    font-size: 12px;
                    margin-left: 10px;
                    position: absolute;
                    right: 10px;
                    color: #999;
                }
            }

            .content-item {
                margin: 20px 20px;
                position: relative;

                .response-image {
                    position: absolute;
                    right: 0;
                    top: -40px;
                    width: 20%;
                }

                .number-left {
                    font-size: 14px;
                    width: 40%;
                    color: #999;
                    white-space: nowrap;
                    float: left;
                }

                .number-right {
                    min-width: 30px;
                    min-height: 17px;
                }
            }

            .pic-areas {
                padding: 10px 0 0;
                position:relative;
                clear: right;
                width: 100%;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;

                .image-list {

                    .image-item {
                        &.upload-btn {
                            border-radius: 3px;

                            .iconfont {
                                font-size: 26px;
                                color: #d2d2d2;
                                line-height: 64px;
                            }
                        }
                        height: 150px;
                        display: inline-block;
                        margin: 0 5px 5px 0;
                        overflow: hidden;
                        box-sizing: border-box;

                        img {
                            height: 100%;
                        }
                    }
                }

                .pic-a {
                    display: inline-block;
                    @include mg(0, 2%, 0, 15px);
                    text-align: center;
                }

                .pic-text {
                    position: absolute;
                    display: inline-block;
                    color: #999999;
                    width: 62%;
                    font-size: 12px;
                    padding: 18px 0 0 10px;
                }
                .upload-pic {
                    position: absolute;
                    display: none;
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
                .upload-pic-b {
                    left: 50%;
                }
                .upload-pic-c {
                    left: 74%;
                }
            }

            .add-response-btn-wrap {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;

                .response-btn {
                    padding: 10px 25px;
                    box-shadow: 0 0 3px #f7cbcb;
                    border-radius: 20px;
                    font-size: 12px;
                    background: #fff;
                    margin: 0 auto -13px;
                    display: block;
                    width: 60px;
                    text-align: center;
                    color: #ff779b;
                }
            }
        }
    }

    .talk-fixed-btn {
        position: fixed;
        bottom: 0;
        background: #e6125d;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-size: 14px;
        color: #fff;
    }

}
