<template>
 <div class="index-mobile">
     <div class="title-text">
         <div class="back-btn"><i class="iconfont">&#xe621;</i></div>
         <div class="demand">代客找版</div>
     </div>
     <div class="bannar-swap">
         <div class="respond" @click="changeContainFn('1')" :style="feedback == 1? 'color:#ea6556': ''">待抢单</div>
         <div class="seek" @click="changeContainFn('2')" :style="seek == 1? 'color:#ea6556': ''">
             <span class="red-tips">
                 已接单
             </span>
         </div>
         <div class="finsh"  @click="changeContainFn('3')" :style="finsh == 1? 'color:#ea6556': ''">已结单</div>
     </div>
     <div class="under-line">
         <div class="red-line" :style="feedback == 0 ? 'background-color:#fff': 'background-color:#ea6556'"></div>
         <div class="red-line" :style="seek == 0 ? 'background-color:#fff': 'background-color:#ea6556'"></div>
         <div class="red-line" :style="finsh == 0 ?'background-color:#fff': 'background-color:#ea6556'"></div>
     </div>
     <div class="content">
         <!--客户需求-->
            <div class="loading-label" v-show="this.flag == false">加载中...</div>
            <div  v-for="item in datas" :key="item.id" class="content-modular finsh-modular"   :style="feedback == 0 ? 'display:none': 'display:block'">
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <span class="time-txt" :class="item.overtime === 1 ? 'out' : ''">{{item.latest_time}}前反馈</span>
                    </div>
                    <div class="btn-area">
                        <span class="price-label">￥<strong>{{item.pay_total}}</strong></span>
                        <div class="accept-btn btn" @click="receivingOrder(item.id)">接单</div>
                    </div>
                </div>
            </div>
            <!--找版中-->
            <div  v-for="item in datas" :key="item.id" class="content-modular sea-modular"  :style="seek == 0 ? 'display:none': 'display:block'">
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <span class="time-txt">{{item.latest_time}} 前反馈</span>
                        <span class="outtime-label" :style="item.overtime !== 1 || parseInt(item.new_response) ? 'display:none' : ''">超时</span>
                    </div>
                    <div class="btn-area">
                        <span class="price-label">￥<strong>{{item.pay_total}}</strong></span>
                        <router-link tag="div" class="sec-btn btn" :to="{name:'response_submit',params:{id:item.id}}" v-show="item.confirmed_response == 0 && item.rejected_response == 0 && item.unconfirmed_response == 0">提交反馈</router-link>
                        <router-link tag="div" class="btn reject-btn" :to="{name:'response_agency',params:{id:item.id}}" v-show="item.rejected_response > 0 && item.confirmed_response == 0 && item.unconfirmed_response == 0">{{item.rejected_response}}个驳回</router-link>
                        <router-link tag="div" class="confirm-btn btn" :to="{name:'response_agency',params:{id:item.id}}" v-show="item.confirmed_response > 0 && item.unconfirmed_response == 0">{{item.confirmed_response}}个采纳</router-link>
                        <router-link tag="div" class="sec-btn btn" :to="{name:'response_agency',params:{id:item.id}}" v-show="item.unconfirmed_response > 0">已反馈</router-link>
                    </div>
                </div>
            </div>
            <!--已完成-->
            <div  v-for="item in datas" :key="item.id" class="content-modular finsh-modular" :style="finsh == 0 ? 'display:none': 'display:block'">
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <span class="time-txt">{{item.latest_time}}前反馈</span>
                        <span class="outtime-label" :style="item.overtime !== 1 || parseInt(item.new_response) ? 'display:none' : ''">超时</span>
                    </div>
                    <div class="btn-area">
                        <span class="price-label">￥<strong>{{item.pay_total}}</strong></span>
                        <router-link tag="div" class="sec-btn btn" :to="{name:'response_agency',params:{id:item.id}}">查看反馈</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./list.js?v=1"></script>
<style src='./list.scss?v=1' lang="scss" scoped></style>
