<template>
    <div class="index-mobile">
        <div class="process-wrap" :style="uploadProcess > 0 ? 'display:block':''">
            <div class="cur-process" :style="{width: uploadProcess + '%'}"></div>
        </div>
        <div class="bannar-warp">
            <div>添加反馈</div>
            <div class="back-btn" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
        </div>
        <div class="content">
            <div class="content-modular" v-for="(item, index) in content" :key="index">
                <div class="content-header">反馈{{index + 1}}</div>
                <div class="content-item">
                    <div class="number-left">档口名字</div>
                    <div class="number-right"><input type="text" class="text-input" placeholder="输入档口名字" v-model="item.name"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">档口地址</div>
                    <div class="number-right"><input type="text" class="text-input" placeholder="输入档口地址" v-model="item.add"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">档口联系电话</div>
                    <div class="number-right"><input type="text" class="text-input" placeholder="输入档口电话" v-model="item.phone"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">价格</div>
                    <div class="number-right"><input type="text" class="text-input" placeholder="输入价格" v-model="item.price"></div>
                </div>
                <div class="content-item">
                    <div class="number-left">现货</div>
                    <div class="number-right"><input type="text" class="text-input" placeholder="输入现货" v-model="item.goods"></div>
                </div>
                <div class="pic-areas">
                    <div class="image-list pic-a upload-img">
                        <div class="image-item upload-btn" id="upload">
                            <i class="iconfont">&#xe7a7;</i>
                        </div>
                        <div class="image-item" :key="image.path" v-for="image in item.imageList">
                            <img @click="imageList.splice(item.path, 1)" :src="image.domain + image.path" />
                        </div>
                    </div>
                    <div class="pic-text" :style="item.imageList.length == 0 ? 'display:inline-block':'display:none'">请上传要完整图案、细节图、尺寸参照图、正反比例对比等</div>
                </div>
            </div>
        </div>
        <div class="submit-fixed-btn" @click="submitAgencyResponse">确认提交</div>
    </div>
</template>
<script src="./response_submit.js?v=1"></script>
<style src="./response_submit.scss" lang="scss" scoped></style>
