<template>
    <div class="box">
        <div class="index-mobile">
            <div class="process-wrap" :style="uploadProcess > 0 ? 'display:block':''">
                <div class="cur-process" :style="{width: uploadProcess + '%'}"></div>
            </div>
            <div class="banner-wrap">
                <div class="banner-title">找<span v-text="typeName[curType]['name']"></span></div>
                <div class="icon" @click="goBack">
                    <i class="iconfont">&#xe621;</i>
                </div>
            </div>
            <div class="login-tip" :style="is_login == 0 ? 'display:block':''">请先登录
                <a :href="mlg_domain + 'User/Login?redirect=' + currentUrl" class="link-btn">前往登录&gt;&gt;</a>
            </div>
            <div class="content-modular">

                <div class="describe">
                    <span class="describe-name"><span v-text="typeName[curType]['name']"></span>分类</span>
                    <select name="public-choice" class="public-choice" v-model="classifySelected">
                        <option :value="classify.id" :key="classify.id" v-for="classify in classifyList[curType]">{{classify.name}}</option>
                    </select>
                    <span class="pull-down">
                        <i class="iconfont">&#xe656;</i>
                    </span>
                </div>
                <div>
                    <textarea id="" cols="30" rows="7" class="describe-text" :placeholder="'请描述要找的' + typeName[curType]['name'] + '特征、品名、成分、规格等'" v-model="description"></textarea>
                </div>
                <div class="pic-areas">
                    <div class="image-list pic-a upload-img">
                        <div class="image-item upload-btn" id="upload">
                            <i class="iconfont">&#xe7a7;</i>
                        </div>
                        <div class="image-item" v-for="item in imageList" :key="item.path">
                            <img @click="imageList.splice(item.path, 1)" :src="item.domain + item.path" />
                        </div>
                    </div>
                    <div class="pic-text" :style="imageList.length == 0 ? 'display:inline-block':'display:none'">请上传完整图案、细节图</div>
                </div>
            </div>
            <div class="content-modular">
                <!-- <div class="buy-number">
                            <div class="number-left">采购数量</div>
                            <div class="number-right">
                                <div class="number">
                                    <span class="please-input">请输入数量</span>
                                </div>
                                <div class="subtrac">
                                    <i class="iconfont" @click="numberGoodsSub"> &#xe8b6;</i>
                                </div>
                                <div class="number">
                                    <span v-text="numberGoods"></span>
                                </div>
                                <div class="add">
                                    <i class="iconfont" @click="numberGoodsAdd">&#xe8de; </i>
                                </div>
                                <div class="Classifier">
                                    <select class="ch-time classifier">
                                        <option v-text="classifier" :value="classifier" v-for="classifier in classifiers"></option>
                                    </select>
                                </div>
                                <span>
                                    <i class="iconfont classifier-icon"> &#xe656;</i>
                                </span>
                            </div>
                        </div> -->
                <div class="accept clearfix">
                    <div class="accept-left">可接受类似或订做</div>
                    <div class="accept-right">
                        <div class="accept-a" @click="olderAccept" :style="choiceColorA? 'display:none':'display:block'">
                            <!-- <img src="../../../res/submit/uncho.png" alt=""> -->
                            <div class="unhook-up">
                            </div>
                        </div>
                        <div class="accept-b" @click="olderUnAccept" :style="choiceColorB ? 'display:none':'display:block'">
                            <!-- <img src="../../../res/submit/cho.png" alt=""> -->
                            <div class="hook-up">
                                <i class="iconfont">&#xe618;</i>
                            </div>
                        </div>
                        <div class="accept-c">
                            <span>接受</span>
                        </div>
                        <div class="accept-d" @click="olderAccept" :style="choiceColorA ? 'display:block':'display:none'">
                            <!-- <img src="../../../res/submit/uncho.png" alt=""> -->
                            <div class="unhook-up">
                            </div>
                        </div>
                        <div class="accept-e" @click="olderUnAccept" :style="choiceColorB? 'display:block':'display:none'">
                            <!-- <img src="../../../res/submit/cho.png" alt=""> -->
                            <div class="hook-up">
                                <i class="iconfont">&#xe618;</i>
                            </div>
                        </div>
                        <div class="accept-c">不接受</div>
                    </div>
                </div>
                <div class="accept clearfix">
                    <div class="accept-left">现货还是期货(可多选)</div>
                    <div class="accept-right">
                        <div class="accept-a" @click="nowGoods" :style="choiceColorC? 'display:none':'display:block'">
                            <!-- <img src="../../../res/submit/uncho.png" alt=""> -->
                            <div class="unhook-up">
                            </div>
                        </div>
                        <div class="accept-b" @click="nowGoods" :style="choiceColorC?'display:block':'display:none'">
                            <!-- <img src="../../../res/submit/cho.png" alt=""> -->
                            <div class="hook-up">
                                <i class="iconfont">&#xe618;</i>
                            </div>
                        </div>
                        <div class="accept-c">
                            <span>现货</span>
                        </div>
                        <div class="accept-d" @click="featureGoods" :style="choiceColorD ?'display:block':'display:none'">
                            <!-- <img src="../../../res/submit/uncho.png" alt=""> -->
                            <div class="unhook-up">
                            </div>
                        </div>
                        <div class="accept-e" @click="featureGoods" :style="choiceColorD?'display:none':'display:block'">
                            <!-- <img src="../../../res/submit/cho.png" alt=""> -->
                            <div class="hook-up">
                                <i class="iconfont">&#xe618;</i>
                            </div>
                        </div>
                        <div class="accept-c">期货</div>
                    </div>
                </div>
                <div class="buy-number">
                    <div class="number-left">要求反馈时间</div>
                    <div class="number-right">
                        <select v-model="hour" class="ch-time" :disabled="this.id == ''">
                            <option v-for="hour in hours" :key="hour.name" :value="hour" v-text="hour.name"></option>
                        </select>
                        <span class="pull-down">
                            <i class="iconfont">&#xe656;</i>
                        </span>
                    </div>
                </div>
                <div class="buy-number">
                    <div class="number-left">允许客服联系你</div>
                    <div class="number-right"><input type="text" class="contact-phone" placeholder="请输入手机号" v-model="phone"></div>
                </div>
                <div class="rules" @click="changeMengData">
                    <div class="rules-right">了解收费规则</div>
                      <div class="rules-left">
                        <i class="iconfont">&#xe60a;</i>
                    </div>
                </div>
                <div class="payment">
                    <div v-if="!id">
                        <div class="payment-left">
                            <!-- <i class="iconfont">&#xe604;</i> -->
                            <span class="need-pay">需支付</span>
                            <span class="money-symbol">¥</span>
                            <span class="money-number">{{money}}</span>
                        </div>
                        <div class="payment-right" @click="submitFn">
                            <span>去支付</span>
                        </div>
                    </div>

                    <div v-if="id" class="submit-right" @click="submitFn">提交</div>
                </div>
            </div>
        </div>

        <div class="meng" v-if="mengData">
            <div class="rule">
                <div class="close" @click="closeMeng">
                    <i class="iconfont">&#xe62a;</i>
                </div>
                <h1>代客找版收费规则</h1>
                <h2>一、关于付费发布收费标准</h2>
                <table border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <th>发布费用</th>
                        <th>3小时</th>
                        <th>6小时</th>
                        <th>24小时</th>
                        <th>3天</th>
                    </tr>
                    <tr>
                        <th>面料</th>
                        <th>50</th>
                        <th>40</th>
                        <th>30</th>
                        <th>20</th>
                    </tr>
                    <th>辅料</th>
                    <th>20</th>
                    <th>15</th>
                    <th>10</th>
                    <th>5</th>
                </table>
                <div class="unit">*单位：元</div>
                <p>当版哥在约定的时间内反馈了样版，只要其中任意一个样版得到客户的确认（点击【是这款】按钮），则该订单交易达成。</p>
                <h2 class="cancellations">二、关于撤单</h2>
                <p>1.订单未超时，且未被版哥接单，客户撤单则扣除该订单发布费用的20%</p>
                <p>2.订单未超时，且版哥已接单但未提供反馈，客户撤单则扣除该订单费用的50%</p>
                <p>3.订单未超时，且版哥已接单并已提供反馈，客户撤单则扣除该订单费用的60%</p>
                <p>4.订单超时，且未被版哥接单，客户撤单则全额退款</p>
                <p>5.订单超时，且版哥已接单但未提供反馈，客户撤单则扣除该订单费用的40%</p>
                <p>6.订单超时，且版哥已接单并提供了反馈，客户撤单则扣除该订单费用的50%</p>
            </div>
        </div>
    </div>
</template>

<script src="/static/lib/plupload/js/plupload.min.js"></script>
<script src='./submit.js?v=1'></script>
<style src='./submit.scss' lang="scss" scoped></style>
