.index-mobile {
    background: #fafafa;

    .process-wrap {
        position: fixed;
        width: 100%;
        height: 3px;
        z-index: 1;
        display: none;

        .cur-process {
            height: 100%;
            width: 0;
            background: #059c50;
        }
    }

    .login-tip {
        background: #e7115d;
        text-align: center;
        padding: 10px;
        color: #fff;
        font-size: 12px;
        display: none;

        .link-btn {
            color: #fff;
            margin-left: 10px;
        }
    }

    .footer {
        color: #bbb;
        border-top: 1px solid #eee;
        position: fixed;
        bottom: -13px;
        left: 0;
        background-color: white;
        width: 100%;
        line-height: 50px;

        .footer-imga {
            .index-page {
                color: #bbb;
                font-size: 12px;
            }
            line-height:20px;
            display:inline-block;
            width:23%;
            text-align:center;
            i {
                vertical-align: middle;
                font-size: 24px;
            }
        }
        .footer-imgb,
        .footer-imgc,
        .footer-imgd {
            @extend .footer-imga
        }
    }

    @mixin wh($w:100%, $h:80px) {
        width: $w;
        height: $h;
    }
    @mixin mg($t:0px, $r:0px, $b:0px, $l:0px) {
        margin-top: $t;
        margin-right: $r;
        margin-bottom: $b;
        margin-left: $l;
    }
    @mixin pd($t:0px, $r:0px, $b:0px, $l:0px) {
        padding-top: $t;
        padding-right: $r;
        padding-bottom: $b;
        padding-left: $l;
    }
    .banner-wrap {
        position:relative;
        text-align:center;
        width:100%;
        height:44px;
        background-color:#fff;
        line-height:44px;
        border-bottom: 1px solid #eeeeee;

        .icon {
            color: #fff;
            width: 10%;
            position: absolute;
            top: 0;

            i {
                font-size: 16px;
                color: #e6125d;
            }
        }
        .message {
            position: absolute;
            z-index: 3;
            top: -4px;
            right: 22px;

            i {
                font-size: 22px;
            }
        }

        .banner-title {
            color: #e6125d;
            font-size: 14px;
            height: 100%;
        }
    }
    .title-text {
        .back-btn {
            display: inline-block;
            width: 10%;
        }
        .demand {
            display: inline-block;
            width: 85%;
        }
        color:#ea6556;
        background-color:#fff;
    }
    .bannar-swap {
        background-color: #ffffff;
        width: 100%;

        .respond {
            width: 32%;
            display: inline-block;
            text-align: center;
        }
        .seek,
        .finsh {
            @extend .respond
        }
    }
    .contain-line {
        @include mg(15px);
        @include wh(100%, 4px);
        background: linear-gradient(#f8ebe9, #f9f4f3);
    }
    .content-modular {
        background-color: #fff;
        padding: 10px 0;
        margin-top: 10px;

        .payment {
            position: fixed;
            bottom: 0;
            height: 46px;
            width: 100%;

            .submit-right {
                width: 100%;
                font-size: 14px;
                height: 100%;
                display: inline-block;
                text-align: center;
                background-color: #e6125d;
                color: #fff;
                line-height: 46px;
            }
            .payment-left {
                display: inline-block;
                width: 70%;
                background: #32353e;
                line-height: 46px;
                padding: 0 0 0 10px;
                box-sizing: border-box;
                height: 46px;

                .need-pay{
                    margin-right: 5px;
                    font-size: 14px;
                    color: white;
                }
                .money-symbol{
                    font-size: 16px;
                    color: #ffc430;
                }
                .money-number{
                    font-size: 24px;
                    color: #ffc430;
                }

            }
            .payment-right {
                font-size: 15px;
                height: 100%;
                display: inline-block;
                width: 30%;
                text-align: center;
                color: #fff;
                position: absolute;
                background: #e6125d;
                line-height: 46px;

            }
        }
        .rules {
            margin: 10px 0 110px 0;
            position: relative;
            color: #666;
            padding: 0 15px;

            .rules-left {
                // @include mg(0, 0, 0, 15px);
                float: right;

                .iconfont {
                    color: #333;
                    font-size: 16px;
                }
            }
            .rules-right {
                float: right;
                font-size: 12px;
                line-height: 16px;
                margin-left: 5px;
                color: #999;
            }
        }
        .sureBtn {
            @include mg(45px);
            box-shadow: 0 0 0;
            text-align: center;
            color: #fff;
            background-color: #ea6556;
            @include wh(100%, 40px);
        }
        .division {
            width: 90%;
            left: 5%;
            position: relative;
            height: 1px;
            background-color: #e5e5e5;
        }
        .accept {
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid #f7f7f7;
            margin: 0 15px;

            .accept-left {
                font-size: 14px;
                // @include mg($l: 5%);
                width: 50%;
                float: left;
                height: 20px;
                line-height: 20px;
            }
            .accept-right {
                float: left;
                text-align: center;
                font-size: 14px;
                width: 50%;
                display: flex;

                .unhook-up {
                    width: 16px;
                    height: 16px;
                    border: 1px solid #e5e5e5;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 16px;
                    color: #fff;
                    margin-right: 10px;
                }
                .hook-up {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 19px;
                    color: #ff6ea1;
                    margin-right: 10px;

                    .iconfont {
                        font-size: 18px;
                    }
                }

                .accept-c {
                    margin-right: 10px;
                    white-space: nowrap;
                    line-height: 18px;
                }
            }
        }
        .buy-number {
            padding: 15px 0;
            position: relative;
            color: #333;
            border-bottom: 1px solid #f7f7f7;
            margin: 0 15px;

            .number-left {
                font-size: 14px;
                padding-top: 2px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
            }

            .number-right {
                font-size: 14px;
                position: relative;
                color:#333;
                float: right;

                .pull-down{
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    color: #e5e5e5;
                }
                .please-input {
                    font-size: 10px;
                    color: #999;
                }

                .contact-phone {
                    font-size: 12px;
                    text-align: right;
                    border: 0;
                    outline: none;
                    width: 150px;
                    padding: 10px 0;
                }
                .ch-time {
                    font-size: 14px;
                    appearance: none;
                    outline: none;
                    background: #fff;
                    position: relative;
                    width: 100px;
                    height: 32px;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    padding-left: 10px;
                    color: #747474;
                }
                .classifier {
                    left: 2px;
                    top: 1px;
                }
                .classifier-icon {
                    top: 3px;
                    position: relative;
                }
                .number {
                    span {
                        font-size: 14px;
                    }
                }
                .subtrac,
                .add {
                    top: 2px;
                    i {
                        font-size: 20px;
                    }
                }
                .subtrac,
                .number,
                .add,
                .Classifier {
                    position: relative;
                    display: inline-block;
                    @include mg(0, 0, 0, 0);
                    .iconfont {
                        color: #ea6556;
                    }
                    .ticks {
                        line-height: 16px;
                        text-align: center;
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 2px;
                        .tick {
                            vertical-align: middle;
                            text-align: center;
                            line-height: 16px;
                            font-size: 1px;
                            color: #ea6556;
                        }
                    }
                }
            }

            .accept-right {
                div {
                    display: inline-block;
                }
            }
        }

        .describe-text {
            width: 94%;
            border: 0;
            margin: 0 3%;
            resize: none;
            height: 74px;
            font-size: 14px;
            background: #fafafa;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
        }

        .describe {
            font-size: 16px;
            color: #333333;
            position: relative;
            padding: 0 15px;
            margin: 0 0 10px 0;

            .describe-name {
                line-height: 32px;
                font-size: 14px;
            }

            .public-choice {
                appearance: none;
                height: 32px;
                padding: 0 10px;
                width: 150px;
                line-height: 32px;
                border: 1px solid #e5e5e5;
                color: #666666;
                border-radius: 6px;
                float: right;
                background: #fff;
                outline: none;
            }

            .pull-down {
                position: absolute;
                right: 18px;
                top: 9px;
                color: #e5e5e5;
            }
        }
        .pic-areas {
            padding: 10px 0 0;
            position:relative;

            .image-list {
                .image-item {
                    &.upload-btn {
                        border: 1px dashed #dfdfdf;
                        border-radius: 3px;

                        .iconfont {
                            font-size: 26px;
                            color: #d2d2d2;
                            line-height: 64px;
                        }
                    }
                    width: 64px;
                    height: 64px;
                    float: left;
                    margin: 0 5px 5px 0;
                    border: 1px solid #dfdfdf;
                    overflow: hidden;
                    box-sizing: border-box;
                }
            }

            .pic-a {
                display: inline-block;
                @include mg(0, 2%, 0, 15px);
                text-align: center;
                img {
                    width: 100%;
                }
            }
            .pic-text {
                position: absolute;
                display: inline-block;
                color: #999999;
                width: 62%;
                font-size: 12px;
                white-space: nowrap;
                padding: 24px 0 0 10px;
            }
            .upload-pic {
                position: absolute;
                display: none;
                width: 20%;
                img {
                    width: 100%;
                }
            }
            .upload-pic-b {
                left: 50%;
            }
            .upload-pic-c {
                left: 74%;
            }
        }
        .pic-b,
        .pic-c,
        .pic-d {
            @extend .pic-a;
            border: 0;
            img {
                width: 100%;
            }
        }
        .pic-d {
            width: 5%;
        }
        .content-text {
            color: #999;
            @include mg(12px, 0, 15px);
            font-size: 10px;
        }
        .modular-line {
            @include wh(100%, 10px);
            background-color: #fafafa;
        }
        .modular-edit {
            @include mg(12px);
            position: relative;
            .sent-time {
                display: inline-block;
                font-size: 12px;
                top: 12px;
                left: 0;
                color: #666;
            }
            .btn-area {
                width: 60%;
                display: inline-block;
                position: absolute;
                right: -5px;
                .cancel-btn,
                .edit-btn,
                .contact-btn {
                    width: 31%;
                    display: inline-block;
                }
                .edit-btn {
                    color: #999
                }
                .contact-btn {
                    color: #333;
                }
                .btn {
                    font-size: 12px;
                    border-radius: 40px;
                    width: 99%;
                    height: 22px;
                    @include pd($t: 2px)
                }
                .btn-style {
                    color: #ffffff;
                    background-color: #ea6556;
                    border: 1px solid #ea6556;
                }
            }
        }
    }
    .sec-btn {
        background-color: #ea6556;
        color: #FFFFFF;
        border: 1px solid #ea6556;
    }
    .seek-btn {
        border: 1px solid #999999;
    }
    .dis {
        display: none;
    }
    .banner-clolr-a {
        color: #333333;
    }
    .banner-clolr-b {
        color: #ea6556;
    }
    .feedback-btn {
        color: #ea6556;
        background-color: #FFFFFF;
        border: 1px solid #ea6556;
    }
    .pafeedback-btn {
        position: absolute;
        right: 0;
    }
    .finsh-feedback-btn {
        border: 1px solid #999;
        color: #333333;
    }

    .banner-wrap {
        .message {
            position: absolute;
            z-index: 3;
            top: -4px;
            right: 22px;

            i {
                font-size: 22px;
            }
        }
    }
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    .meng {
        z-index: 10;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: 20px solid rgba(0, 0, 0, .3);
        box-sizing: border-box;
        background: white;
        .rule {
            background: white;
            color: #000;
            padding: 0 20px;
            box-sizing: border-box;
            position: relative;
            .close {
                position: absolute;
                top: -45px;
                right: -5px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                color: #999;
            }
            h1 {
                text-align: center;
                margin: 40px 0;
            }
            table {
                margin-top: 10px;
                th {
                    width: 20%;
                    padding: 10px 0px;
                }
            }
            table,
            th,
            td {
                border: 1px solid #000;
            }
            p {
                margin: 10px 0px;
            }
            .unit {
                margin: 10px 5px;
            }
            .cancellations {
                margin: 20px 0;
            }
        }
    }
}
