<template>
    <div class="index-mobile">
        <div class="bannar-warp">
            <div>版哥反馈</div>
            <div class="back-btn" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
        </div>
        <div class="content">
            <div class="content-modular" v-for="(item, index) in responseList" :key="index">
                <div class="content-header">反馈{{index + 1}}<span class="response-time">在 {{item.ctime.substr(5, 11)}} 提交</span>
                    <img src="../../../res/response/response_reject_label.png" v-show="item.response_status == 2" class="response-image" />
                </div>
                <div class="pic-areas">
                    <div class="image-list pic-a upload-img">
                        <div class="image-item" :key="image.path" v-for="image in item.content.imageList">
                            <img :src="image.domain + image.path" />
                        </div>
                    </div>

                    <div class="pic-text" :style="item.content.imageList.length == 0 ? 'display:inline-block':'display:none'">请上传要完整图案、细节图、尺寸参照图、正反比例对比等</div>
                </div>
                <div v-show="item.response_status == 1">
                    <div class="content-item">
                        <div class="number-left">档口名字</div>
                        <div class="number-right" v-text="item.content.name"></div>
                    </div>
                    <div class="content-item">
                        <div class="number-left">档口地址</div>
                        <div class="number-right" v-text="item.content.add"></div>
                    </div>
                    <div class="content-item">
                        <div class="number-left">档口联系电话</div>
                        <div class="number-right" v-text="item.content.phone"></div>
                    </div>
                    <div class="content-item">
                        <img src="../../../res/response/response_confirm_label.jpg" v-show="item.response_status == 1" class="response-image" />
                        <div class="number-left">价格</div>
                        <div class="number-right" v-text="item.content.price"></div>
                    </div>
                    <div class="content-item">
                        <div class="number-left">现货</div>
                        <div class="number-right" v-text="item.content.goods"></div>
                    </div>
                </div>
                <div v-show="item.response_status == 3" class="add-response-btn-wrap">
                    <div @click="confirmAgencyResponse(item.response_id,1)" class="response-btn">是这款</div>
                    <div @click="confirmAgencyResponse(item.response_id,2)" class="response-btn">不是这款</div>
                </div>


            </div>
        </div>
        <div class="bottom-fixed-bar">
            <span class="talk-btn"><i class="iconfont" @click="contactAgency">&#xe745;</i>
                联系版哥
            </span>
            <span class="submit-response-btn"  v-if="globalData.apply.data.apply_status == 1">已结单</span>
            <span class="submit-response-btn" @click="changeApplyStatus(applyId)" v-else>结单</span>
        </div>
    </div>
</template>
<script src="./response.js"></script>
<style src="./response.scss" lang="scss" scoped></style>
