.index-mobile {

    @mixin wh($w:100%, $h:80px) {
        width: $w;
        height: $h;
    }
    @mixin mg($t:0px, $r:0px, $b:0px, $l:0px) {
        margin-top: $t;
        margin-right: $r;
        margin-bottom: $b;
        margin-left: $l;
    }
    @mixin pd($t:0px, $r:0px, $b:0px, $l:0px) {
        padding-top: $t;
        padding-right: $r;
        padding-bottom: $b;
        padding-left: $l;
    }

    .bannar-warp {
        position:relative;
        text-align:center;
        width:100%;
        height:44px;
        background-color:#ff789b;
        line-height: 44px;

        .back-btn {
            color: #fff;
            width: 10%;
            position: absolute;
            top: 0;

            i{
                font-size:16px;
            }
        }
        .message{
            position:absolute;
            z-index:3;
            top:-4px;
            right:22px;

            i{
                font-size:22px;
            }
        }

        div{
            color:#fff;
            font-size: 14px;
        }
    }

    .content {
        background: #fafafa;

        .content-modular {
            border-radius: 5px;
            margin: 20px 10px;
            padding: 0 0 20px 0;
            box-sizing: border-box;
            position: relative;
            background-color: #fff;
            box-shadow: 1px 1px 6px #fbe9ec;

            .content-header {
                text-align: center;
                font-size: 14px;
                color: #333;
                padding: 20px 0;
                border-bottom: 1px solid #efefef;
                position: relative;

                .response-time {
                    font-size: 12px;
                    margin-left: 10px;
                    position: absolute;
                    right: 10px;
                    color: #999;
                }

                .response-image {
                    position: absolute;
                    height: 90%;
                    bottom: 5px;
                    right: 10px;
                }
            }

            .content-item {
                margin: 20px 20px;
                position: relative;

                .response-image {
                    position: absolute;
                    right: 0;
                    top: -40px;
                    width: 20%;
                }

                .number-left {
                    font-size: 14px;
                    width: 40%;
                    color: #999;
                    white-space: nowrap;
                    float: left;
                }

                .number-right {
                    min-width: 30px;
                    min-height: 17px;
                }
            }

            .pic-areas {
                padding: 10px 0 0;
                position:relative;
                clear: right;
                width: 100%;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;

                .image-list {

                    .image-item {
                        &.upload-btn {
                            border-radius: 3px;

                            .iconfont {
                                font-size: 26px;
                                color: #d2d2d2;
                                line-height: 64px;
                            }
                        }
                        height: 150px;
                        display: inline-block;
                        margin: 0 5px 5px 0;
                        overflow: hidden;
                        box-sizing: border-box;

                        img {
                            height: 100%;
                        }
                    }
                }

                .pic-a {
                    display: inline-block;
                    @include mg(0, 2%, 0, 15px);
                    text-align: center;
                    width: 100%;
                }

                .pic-text {
                    position: absolute;
                    display: inline-block;
                    color: #999999;
                    width: 62%;
                    font-size: 12px;
                    padding: 18px 0 0 10px;
                }
                .upload-pic {
                    position: absolute;
                    display: none;
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
                .upload-pic-b {
                    left: 50%;
                }
                .upload-pic-c {
                    left: 74%;
                }
            }

            .add-response-btn-wrap {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;

                .response-btn {
                    padding: 10px 25px;
                    box-shadow: 0 0 3px #f7cbcb;
                    border-radius: 20px;
                    font-size: 12px;
                    background: #fff;
                    margin: 0 auto -13px;
                    display: inline-block;
                    width: 60px;
                    text-align: center;
                    color: #ff779b;
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }

    .bottom-fixed-bar {
        position: fixed;
        bottom: 0;
        height: 46px;
        width: 100%;

        .submit-response-btn {
            background: #e6125d;
            height: 100%;
            width: 50%;
            float: left;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 46px;
        }

        .talk-btn {
            background: #363840;
            height: 100%;
            display: block;
            float: left;
            width: 50%;
            color: #fff;
            font-size: 12px;
            text-align: center;

            .iconfont {
                padding: 5px 0;
                display: block;
            }
        }

        .accept-btn {
            background: #e6125d;
            height: 100%;
            font-size: 14px;
            text-align: center;
            color: #fff;
            line-height: 46px;
        }

        .change-btn {
            height: 100%;
            background: #32353e;
            text-align: center;
            color: #fff;
            width: 30%;
            float: left;

            .iconfont {
                display: block;
                padding: 5px 0 4px;
            }

            .change-text {
                font-size: 14px;
            }
        }

        .view-btn {
            height: 100%;
            width: 70%;
            float: left;
            background: #e6125d;
            text-align: center;
            color: #fff;
            line-height: 46px;
            font-size: 14px;
        }
    }

    .sec-btn {
        background-color: #ea6556;
        color: #FFFFFF;
        border: 1px solid #ea6556;
    }
    .seek-btn {
        border: 1px solid #999999;
    }
    .dis {
        display: none;
    }
    .banner-clolr-a {
        color: #333333;
    }
    .banner-clolr-b {
        color: #ea6556;
    }
    .feedback-btn {
        color: #ea6556;
        background-color: #FFFFFF;
        border: 1px solid #ea6556;
    }
    .pafeedback-btn {
        position: absolute;
        right: 0;
    }
    .finsh-feedback-btn {
        border: 1px solid #999;
        color: #333333;
    }
}
