<template>
    <div class="index-mobile">
        <div class="bannar-warp">
             <div>需求详情</div>
             <div class="icon" @click="goBack"><i class="iconfont">&#xe621;</i></div>
        </div>
        <div class="content-modular">
           <div class="pic-area">
                 <div class="pic-a">
                     <div class="box-f">
                         <div class="box" v-for="i in data.image" :key="i.id">
                             <img :src="i.domain + i.path" alt="" @click="getData"/>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="agency-title">
                <strong class="type-name" v-text="typeName">加载中...</strong>
                <span class="apply-time" v-text="applyTime">加载中...</span>
            </div>
            <div v-text="data.description" class="describe"  v-show="globalData.cur_uid == data.uid"></div>
            <div  class="describe agency-view" v-show="globalData.cur_uid != data.uid">
                <span v-text="data.description"></span>
                <span class="price-label">￥<strong>{{data.pay_total}}</strong></span>
            </div>
        </div>
        <div class="content-modular">
            <div class="require-title">要求</div>
            <div class="buy-number">
                <div class="number-left">是否接受类似或订做</div>
                <div class="number-right"><span v-text="data.is_similar"></span></div>
            </div>
            <div class="buy-number">
                <div class="number-left">现货还是期货</div>
                <div class="number-right"><span v-text="data.is_available"></span></div>
            </div>
            <div class="buy-number">
                <div class="number-left">反馈时间</div>
                <div class="number-right"><span v-text="data.time_limit"></span></div>
            </div>
            <div class="buy-number" v-show="data.phone">
                <div class="number-left">联系电话</div>
                 <div class="number-right"><span v-text="data.phone"></span></div>
            </div>
            <!-- <div class="bannar-warp sureBtn">
                <div @click="routerLink(data.id)">接单</div>
            </div> -->
        </div>
        <div class="bottom-fixed-bar" :style="data.uid == globalData.cur_uid ? 'display:block':''">
            <div class="change-btn" @click="changeApply">
                <i class="iconfont">&#xe627;</i>
                <span class="change-text">修改</span>
            </div>
            <div class="view-btn" @click="viewAllApply">查看全部需求</div>
        </div>
        <div class="bottom-fixed-bar" :style="data.uid != globalData.cur_uid && globalData.is_agency && data.agency_count == 0 ? 'display:block':''">
            <div @click="receivingOrder(data.id)" class="accept-btn">接单</div>
        </div>
        <div class="bottom-fixed-bar" :style="data.uid != globalData.cur_uid && globalData.is_agency && data.agency_user_id == globalData.is_agency ? 'display:block':''">
            <span class="transfer-btn" @click="cancelAcceptedApply(data.id)">
                <i class="iconfont">&#xe724;</i>
                转单<i class="border-right-divide"></i>
            </span>
            <span class="talk-btn"><i class="iconfont" @click="contactCustomer">&#xe745;</i>
                联系客户
            </span>
            <span class="submit-response-btn" @click="submitResponse">提交反馈</span>
        </div>
    </div>
</template>
<script src="./info.js?v=1"></script>
<style src="./info.scss?v=2" lang="scss" scoped></style>
