.index-mobile {
    background-color:#fafafa;

    .footer{
        border-top:1px solid #eee;
        position:fixed;
        bottom:0;
        left:0;

        width:100%;
        line-height:50px;

        .footer-imga{
            line-height:50px;
            display:inline-block;
            width:23%;
            text-align:center;

            i{
                vertical-align:middle;
                font-size:24px;
            }
        }
        .footer-imgb,.footer-imgc,.footer-imgd{
            @extend .footer-imga
        }


    }

    @mixin wh($w:100%,$h:80px) {
        width:$w;
        height:$h;
    }
    @mixin mg($t:0px,$r:0px,$b:0px,$l:0px) {
        margin-top:$t;
        margin-right:$r;
        margin-bottom:$b;
        margin-left:$l;
    }
    @mixin pd($t:0px,$r:0px,$b:0px,$l:0px) {
        padding-top:$t;
        padding-right:$r;
        padding-bottom:$b;
        padding-left:$l;
    }
    .bannar-warp{
        position:relative;
        text-align:center;
        width:100%;
        height:44px;
        background-color:#fff;
        line-height: 44px;
        border-bottom: 1px solid #eeeeee;

        .icon{
            color: #e6125d;
            width: 10%;
            position: absolute;
            top: 0;

            i{
                font-size:16px;
            }
        }
        .message{
            position:absolute;
            z-index:3;
            top:-4px;
            right:22px;

            i{
                font-size:22px;
            }
        }

        div{
            color:#e6125d;
            font-size: 14px;

        }
    }
    .title-text {
        .back-btn{
            display:inline-block;
            width:10%;
        }
        .demand{
            display:inline-block;
            width:85%;
        }
        @include wh(100%, 40px);
        color:#ea6556;
        background-color:#ffffff;
        div {
            text-align:center;
            @include mg(12px)
        }
    }
    .bannar-swap {
        @include mg(12px);
        background-color:#ffffff;
        width:100%;
        .respond {
            width:32%;
            display:inline-block;
            text-align:center;
        }
        .seek, .finsh {
            @extend .respond
        }
    }
    .contain-line {
        @include mg(15px);
        @include wh(100%, 4px);
        background: linear-gradient(#f8ebe9, #f9f4f3);
    }


    .content-modular{
        position: relative;
        margin: 10px 0 0;
        background: #fff;

        .agency-title {
            font-size: 14px;
            border-bottom: 1px solid #ededed;
            margin: 0 15px;
            padding: 15px 0;


            .type-name {
                font-weight: bold;
            }

            .apply-time {
                float: right;
                font-size: 12px;
                color: #999;
            }
        }

        .sureBtn{
            font-size:15px;
            box-shadow:0 0 0 ;
            text-align:center;
            color:#fff;
            background-color:#ea6556;

        }

        .require-title {
            font-weight: bold;
            padding: 15px 0;
            font-size: 14px;
            border-bottom: 1px solid #f1f1f1;
            margin: 0 15px;
        }

        .buy-number{
            font-size:14px;
            position:relative;
            color:#999;
            padding: 15px 15px;

            .number-right{
                color: #333;
                display: inline-block;
                float: right;
            }
            .number-left{
                font-size:14px;
                display: inline-block;
            }
        }


        .describe{
            font-size:14px;
            color:#333;
            padding: 15px 15px;
            word-break: break-all;

            &.agency-view {
                padding-right: 60px;
                position: relative;

                .price-label {
                    color: #ffce4b;
                    font-size: 14px;
                    position: absolute;
                    right: 10px;
                    top: 15px;

                    strong {
                        font-size: 24px;
                        margin: 0 5px;
                        vertical-align: middle;
                    }
                }

            }
        }
        .pic-area{
            position:relative;
        }

        .pic-a {

            .box-f{
                height: 250px;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;

                .box {
                    margin: 0 5px;
                    height: 100%;
                    display: inline-block;

                    img {
                        height: 100%;
                        display: inline-block;
                    }
                }

            }


        }
        .pic-d{
            width:4%;
            position:absolute;
            top:44%;
            right:1%

        }
        .content-text{
            color:#999;
            @include mg(12px,0,15px);
            font-size:10px;
        }
        .modular-line{
            @include wh(100%,10px);
            background-color:#fafafa;

        }
        .modular-edit{
            @include mg(12px);
            position:relative;
            .sent-time{
                display:inline-block;
                font-size:12px;
                top:12px;
                left:0;
                color:#666;
            }
            .btn-area{
                width:60%;
                display:inline-block;
                position:absolute;
                right:-5px;
                .cancel-btn,.edit-btn,.contact-btn{
                    width: 31%;
                    display:inline-block;
                }
                .edit-btn{
                    color:#999
                }
                .contact-btn{
                    color:#333;
                }

                .btn{
                    font-size:12px;
                    border-radius:40px;
                    width:99%;
                    height:22px;
                    @include pd($t:2px)
                }
                .btn-style{
                    color:#ffffff;
                    background-color:#ea6556;
                    border:1px solid  #ea6556   ;
                }
            }
        }
    }

    .bottom-fixed-bar {
        display: none;
        position: fixed;
        bottom: 0;
        height: 46px;
        width: 100%;

        .transfer-btn {
            background: #363840;
            height: 100%;
            display: block;
            float: left;
            width: 25%;
            color: #fff;
            font-size: 12px;
            text-align: center;
            position: relative;

            .iconfont {
                padding: 5px 0;
                display: block;
            }

            .border-right-divide {
                border-right: 1px solid #c0c0c0;
                position: absolute;
                right: 0;
                height: 50%;
                top: 25%;
            }
        }

        .submit-response-btn {
            background: #e6125d;
            height: 100%;
            width: 50%;
            float: left;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 46px;
        }

        .talk-btn {
            background: #363840;
            height: 100%;
            display: block;
            float: left;
            width: 25%;
            color: #fff;
            font-size: 12px;
            text-align: center;

            .iconfont {
                padding: 5px 0;
                display: block;
            }
        }

        .accept-btn {
            background: #e6125d;
            height: 100%;
            font-size: 14px;
            text-align: center;
            color: #fff;
            line-height: 46px;
        }

        .change-btn {
            height: 100%;
            background: #32353e;
            text-align: center;
            color: #fff;
            width: 30%;
            float: left;

            .iconfont {
                display: block;
                padding: 5px 0 4px;
            }

            .change-text {
                font-size: 14px;
            }
        }

        .view-btn {
            height: 100%;
            width: 70%;
            float: left;
            background: #e6125d;
            text-align: center;
            color: #fff;
            line-height: 46px;
            font-size: 14px;
        }
    }

    .sec-btn{
        background-color:#ea6556;
        color:#FFFFFF;
        border:1px solid #ea6556;
    }
    .seek-btn{
        border:1px solid #999999;
    }
    .dis{
        display:none;
    }
    .banner-clolr-a{
        color:#333333;
    }
    .banner-clolr-b{
        color:#ea6556;
    }
    .feedback-btn{
        color:#ea6556;
        background-color:#FFFFFF;
        border:1px solid #ea6556;
    }
    .pafeedback-btn{
        position:absolute;
        right:0;
    }
    .finsh-feedback-btn{
        border:1px solid #999;
        color:#333333;
    }
    .bannar-warp{
        .message{
            position:absolute;
            z-index:3;
            top:-4px;
            right:22px;
            i{
                font-size:22px;
            }
        }}
}
