.index-mobile {
  .footer{
    border-top:1px solid #eee;
    position:fixed;
    bottom:0;
    left:0;
    background-color:white;
    width:100%;
    line-height:50px;
    .footer-imga{
      line-height:50px;
      display:inline-block;
      width:23%;
      text-align:center;
      i{
        vertical-align:middle;
        font-size:24px;
      }
    }
    .footer-imgb,.footer-imgc,.footer-imgd{
      @extend .footer-imga
    }


  }
  background-color:#fff;
  @mixin bo($t:0,$r:0,$b:1px,$l:0){
    border-top:$t;
    border-right:$r;
    border-bottom:$b;
    border-left:$l;
  }
  @mixin wh($w:100%,$h:80px) {
    width:$w;
    height:$h;
  }
  @mixin mg($t:0px,$r:0px,$b:0px,$l:0px) {
    margin-top:$t;
    margin-right:$r;
    margin-bottom:$b;
    margin-left:$l;
  }
  @mixin pd($t:0px,$r:0px,$b:0px,$l:0px) {
    padding-top:$t;
    padding-right:$r;
    padding-bottom:$b;
    padding-left:$l;
  }
  .bannar-warp{
    .icon{
      color:white;
      width: 10%;
      position: absolute;
      top: 0;
      left:3%;
      i{
        font-size:20px;
      }
    }
    .message{
      position:absolute;
      z-index:3;
      top:-4px;
      right:22px;
      i{
        font-size:22px;
      }
    }
    position:relative;
    text-align:center;
    width:100%;
    height:40px;
    background-color:#e6125d;
    div{
      line-height:40px;
      color:white;
    }
  }
  .title-text {
    .back-btn{
      display:inline-block;
      width:10%;
    }
    .demand{
      display:inline-block;
      width:85%;
    }
    @include wh(100%, 40px);
    color:#ea6556;
    background-color:#ffffff;
    div {
      text-align:center;
      @include mg(12px)
    }
  }
  .bannar-swap {
    @include mg(12px);
    background-color:#ffffff;
    width:100%;
    .respond {
      width:32%;
      display:inline-block;
      text-align:center;
    }
    .seek, .finsh {
      @extend .respond
    }
  }
  .contain-line {
    @include mg(15px);
    @include wh(100%, 4px);
    background: linear-gradient(#f8ebe9, #f9f4f3);
  }


  .content-modular{
      width: 100%;
    .pic-area{
        width: 100%;
        position:relative;
      }
      @include mg(15px,8px,0,8px);
      @include pd(12px,$l:12px,$b:12px);
      position:relative;
      background-color:#ffffff;
      .pic-a{
        overflow-x: scroll;  
        overflow-y: hidden;      
        .box-f{
          width:1000%;
        }
        .box{
            width: 120px;
            height: 80px;
            float: left;
        @include mg(0,1%,0,0);
        }
        img{
          width:100%;
          height: 100%;
        }
      }
    
      .pic-d{
        width:4%;
        position:absolute;
        top:44%;
        right:1%

      }
    .sureBtn{
      line-height:40px;
      font-size:15px;
      @include mg(45px);
      box-shadow:0 0 0 ;
      text-align:center;
      color:#fff;
      background-color:#ea6556;
      @include wh(100%,40px);
    }
    .division{
      width:90%;
      left:5%;
      position:relative;
      height:1px;
      background-color:#e5e5e5;
    }
    .buy-number{
      input:focus {
        outline: none;
        border: 1px solid white;
        -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
      }
      @include mg(20px,0,20px,0);
      position:relative;
      color:#999;
      .number-right{
        .text-input{
          @include bo();
        }
        color:#333;
        position:absolute;
        display:inline-block;
        top:-3px;
        width:55%;
        right:20px;
      }
      .number-left{
        font-size:12px;
        @include mg(0,0,0,5%);
        width:35%;
        color:#333;
      }
    }
    margin-bottom: 0;
    padding-top: 12px;
    padding-right: 8px; 
    padding-bottom: 12px;
    box-sizing: border-box;
    padding-left: 12px; 
    position:relative;
    background-color:#ffffff;
    .describe{
      color:#333;
      @include mg(1px,0,60px,15px)
    }
    // .pic-a{
    //   display:inline-block;
    //   width:20%;
    //   @include mg(0,2%,0,15px);
    //   img{
    //     width:100%;
    //   }
    // }
    // .pic-b,.pic-c,.pic-d{
    //   @extend .pic-a
    // }
    // .pic-d{
    //   width:5%;
    // }
    .content-text{
      height:30px;
      position:relative;
      color:#666;
      @include mg(12px,0,15px);
      font-size:10px;
      .results{
        font-size:16px;
        position:absolute;
        display:inline-block;
        left:5%;
      }
    }
    .modular-line{
      @include mg($b:20px);
      @include wh(100%,1px);
      background-color:#e5e5e5;

    }
    .modular-edit{
      @include mg(12px);
      position:relative;
      .sent-time{
        display:inline-block;
        font-size:12px;
        top:12px;
        left:0;
        color:#666;
      }
      .btn-area{
        width:60%;
        display:inline-block;
        position:absolute;
        right:-5px;
        .cancel-btn,.edit-btn,.contact-btn{
          width: 31%;
          display:inline-block;
        }
        .edit-btn{
          color:#999
        }
        .contact-btn{
          color:#333;
        }

        .btn{
          font-size:12px;
          border-radius:40px;
          width:99%;
          height:22px;
          @include pd($t:2px)
        }
        .btn-style{
          color:#ffffff;
          background-color:#ea6556;
          border:1px solid  #ea6556   ;
        }
      }
    }

    .pic-areas{
        .image-list {
            .image-item {

                &.upload-btn {
                    border: 1px dashed #dfdfdf;

                    .iconfont {
                        font-size: 26px;
                        color: #888;
                        line-height: 64px;
                    }
                }

                width: 64px;
                height: 64px;
                float: left;
                margin: 0 5px 5px 0;
                border: 1px solid #dfdfdf;
                overflow: hidden;
                box-sizing: border-box;
            }
        }

        position:relative;
        .pic-a{
            display:inline-block;
            @include mg(0,2%,0,15px);
            text-align:center;
            img{
                width:100%;
            }
        }
        .pic-text{
            position:absolute;
            display:inline-block;
            color:#999999;
            width:62%;
            margin-left:10px;
            font-size: 14px;
            line-height: 16px;
        }
        .upload-pic{
            position:absolute;
            display:none;
            width:20%;
            img{
                width:100%;
            }
        }
        .upload-pic-b{
            left:50%;
        }
        .upload-pic-c{
            left:74%;
        }
    }
  }

  .sec-btn{
    background-color:#ea6556;
    color:#FFFFFF;
    border:1px solid #ea6556;
  }
  .seek-btn{
    border:1px solid #999999;
  }
  .dis{
    display:none;
  }
  .banner-clolr-a{
    color:#333333;
  }
  .banner-clolr-b{
    color:#ea6556;
  }
  .feedback-btn{
    color:#ea6556;
    background-color:#FFFFFF;
    border:1px solid #ea6556;
  }
  .pafeedback-btn{
    position:absolute;
    right:0;
  }
  .finsh-feedback-btn{
    border:1px solid #999;
    color:#333333;
  }
  .bannar-warp{
    .message{
      position:absolute;
      z-index:3;
      top:-4px;
      right:22px;
      i{
        font-size:22px;
      }
    }}
}
