<template>
    <div class="index-mobile">
        <div class="bannar-warp">
            <div>反馈结果</div>
            <div class="icon" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
        </div>
        <div v-for="(item,index) in responseList" :key="item.response_id">
            <div class="content-modular">
                <div class="content-text">
                    <div class="results">反馈{{index+1}}</div>
                </div>
                <div class="modular-line"></div>
                <div class="pic-area">
                    <div class="pic-a">
                        <div class="box-f">
                            <div class="box" v-for="i in item.content[5]" :key="i.index">
                                <img :src="i.domain + i.path" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buy-number">
                    <div class="number-left">档口名字：</div>
                    <div class="number-right">
                        <span>{{item.content[0].name}}</span>
                    </div>
                </div>
                <div class="division"></div>
                <div class="buy-number">
                    <div class="number-left">档口地址：</div>
                    <div class="number-right">
                        <span>{{item.content[1].add}}</span>
                    </div>
                </div>
                <div class="division"></div>
                <div class="buy-number">
                    <div class="number-left">档口联系电话：</div>
                    <div class="number-right">
                        <span>{{item.content[2].phone}}</span>
                    </div>

                </div>
                <div class="division"></div>
                <div class="buy-number">
                    <div class="number-left">价格：</div>
                    <div class="number-right">
                        <span>{{item.content[3].price}}</span>
                    </div>

                </div>
                <div class="division"></div>
                <div class="buy-number">
                    <div class="number-left">现货：</div>
                    <div class="number-right">
                        <span>{{item.content[4].goods}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-modular">
            <div class="content-text">
                <div class="results">添加反馈</div>
            </div>
            <div class="pic-areas">
                <div class="image-list pic-a upload-img">
                    <div class="image-item upload-btn" id="upload">
                        <i class="iconfont">&#xe7a7;</i>
                    </div>
                    <div class="image-item" :key="item.path" v-for="item in imageList">
                        <img :src="item.domain + item.path" />
                    </div>
                </div>
                <div class="pic-text" :style="imageList.length == 0 ? 'display:inline-block':'display:none'">请上传要找的完整图案、细节图、尺寸参照图、正反比例对比等</div>
            </div>
            <div class="modular-line"></div>
            <div class="buy-number">
                <div class="number-left">档口名字：</div>
                <div class="number-right"><input type="text" class="text-input" v-model="content[0].name"></div>
            </div>
            <div class="division"></div>
            <div class="buy-number">
                <div class="number-left">档口地址：</div>
                <div class="number-right"><input type="text" class="text-input" v-model="content[1].add"></div>
            </div>
            <div class="division"></div>
            <div class="buy-number">
                <div class="number-left">档口联系电话：</div>
                <div class="number-right"><input type="text" class="text-input" v-model="content[2].phone"></div>
            </div>
            <div class="division"></div>
            <div class="buy-number">
                <div class="number-left">价格：</div>
                <div class="number-right"><input type="text" class="text-input" v-model="content[3].price"></div>
            </div>
            <div class="division"></div>
            <div class="buy-number">
                <div class="number-left">现货：</div>
                <div class="number-right"><input type="text" class="text-input" v-model="content[4].goods"></div>
            </div>
            <div class="division"></div>
            <div class="bannar-warp sureBtn" @click="submitAgencyResponse">添加反馈
            </div>
        </div>
    </div>
</template>
<script src="./detail.js?v=1"></script>
<style src='./detail.scss?v=1' lang="scss" scoped></style>
