<template>
    <div class="index-mobile">
        <div class="bannar-warp">
            <div class="bannar-title">客户需求沟通</div>
            <div class="back-btn" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
        </div>
        <div class="content-modular" id="scollBox">
            <div class="item-content" id="item_content">
                <div class="content-box" v-for="item in historyMessage" :key="item.id">
                    <div class="content-box-user" v-if="item.from_uid==uid">
                        <div class="time">
                            <span>{{item.ctime}}</span>
                        </div>
                        <div class="content-talk">
                            <div class="talk-man">
                                <i class="iconfont">&#xe625;</i>
                            </div>
                            <div class="talk-detail" v-if="item.type==2">{{item.message}}</div>
                            <div class="talk-img" v-if="item.type==1">
                                <img :src="item.message" />
                            </div>
                            <!-- <img :src="showSendImg.domain + showSendImg.path" /> -->
                        </div>
                    </div>
                    <div v-if="item.from_uid!=uid" class="content-box-kehu">
                        <div class="time">
                            <span>{{item.ctime}}</span>
                        </div>
                        <div class="content-talk-b">
                            <div class="talk-detail" v-if="item.type==2">{{item.message}}</div>
                            <div class="talk-img" v-if="item.type==1">
                                <!-- <img :src="item.message" /> -->
                                    <img :src="item.message.domain + item.message.path" />
                            </div>
                            <div class="talk-man">
                                <i class="iconfont">&#xe625;</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="input-talk">
            <div class="input-img-left" id="upload">
                <i class="iconfont">&#xe889;</i>
            </div>
            <div class="input-text">
                <input type="text" v-model="message">
            </div>
            <div class="input-img-right" @click="sendMessage()">
                <span>发送</span>
            </div>
        </div>
    </div>
</template>
<script src="./talking.js"></script>
<style src="./talking.scss" lang="scss" scoped></style>
