.index-mobile {
    background-color: #eeeeee;
    height: 100%;
    overflow: hidden;
    .footer {
        border-top: 1px solid #eee;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        line-height: 50px;
        .footer-imga {
            line-height: 50px;
            display: inline-block;
            width: 23%;
            text-align: center;
            i {
                vertical-align: middle;
                font-size: 24px;
            }
        }
        .footer-imgb,
        .footer-imgc,
        .footer-imgd {
            @extend .footer-imga
        }
    }
    @mixin wh($w:100%, $h:80px) {
        width: $w;
        height: $h;
    }
    @mixin mg($t:0px, $r:0px, $b:0px, $l:0px) {
        margin-top: $t;
        margin-right: $r;
        margin-bottom: $b;
        margin-left: $l;
    }
    @mixin pd($t:0px, $r:0px, $b:0px, $l:0px) {
        padding-top: $t;
        padding-right: $r;
        padding-bottom: $b;
        padding-left: $l;
    }
    .bannar-warp {
        position: fixed;
        z-index:10;
        top:0;
        .bannar-title {
            height: 40px;
            line-height: 40px;
        }
        .back-btn {
            line-height: 40px;
            color: white;
            width: 10%;
            position: absolute;
            top: 0;
            left: 3%;
            i {
                font-size: 20px;
            }
        }
        .message {
            position: absolute;
            z-index: 3;
            top: -4px;
            right: 22px;
            i {
                font-size: 22px;
            }
        }
        // position:relative;
        text-align:center;
        width:100%;
        height:40px;
        background-color:#ea6556;
        div {
            color: white;
        }
    }
    .bannar-swap {
        @include mg(12px);
        background-color: #ffffff;
        width: 100%;
        .respond {
            width: 32%;
            display: inline-block;
            text-align: center;
        }
        .seek,
        .finsh {
            @extend .respond
        }
    }
    .contain-line {
        @include mg(15px);
        @include wh(100%, 4px);
        background: linear-gradient(#f8ebe9, #f9f4f3);
    }
    .content-modular {
        overflow-y:scroll;
        height: 100vh;
        // height: 150vw;
        background-color: #eeeeee;
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;
        padding-bottom: 50px;
        .content-box {
            position: relative;
            .content-box-user {
                .time {
                    text-align: center;
                    padding: 20px 0;
                    // margin-bottom: 20px;
                    span {
                        background-color: white;
                        line-height: 22px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        font-size: 10px;
                        padding: 4px;
                        color: #bbbbbb;
                    }
                }
                .content-talk {
                    margin: 20px 0;
                    position: relative;
                   
                    .talk-man {
                        @include mg($l: 12px);
                        display: inline-block;
                        width: 10%; 
                        text-align: center;
                        i {
                            font-size: 14px;
                        }
                    }
                    .talk-detail {
                   
                        word-break: break-all;
                        @include pd(10px, 10px, 10px, 10px);
                        
                        color: white;
                        width: 200px;
                        display: inline-block;
                        background-color: #ea6556;
                        line-height: 20px;
                    }
                    .talk-img{
                        display: inline-block;
                        // width: 110px;
                        // height: 110px;
                        // background: #ea6556;
                        padding: 10px;
                        img{
                             width: 100px;
                             height: 100px;
                        }
                    }
                }
            }
            .content-box-kehu {
                position: relative;
                .time {
                    text-align: center;
                    padding: 20px 0;
                    span {
                        background-color: white;
                        line-height: 22px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        font-size: 10px;
                        padding: 4px;
                        color: #bbbbbb;
                    }
                }
                .content-talk-b {
                    margin: 20px 0;
                    text-align: right;
                  
                    color: #666; 
                    
                    .talk-detail {
                        
                        word-break: break-all;
                        @include pd(5px, 10px, 5px, 10px);
                        color: #666;
                        width: 200px;
                        display: inline-block;
                        background-color: #fff;
                        text-align: left;
                        line-height: 20px;
                    }
                    .talk-img{
                        display: inline-block;
                        // width: 110px;
                        // height: 110px;
                        background: #d6cccc;;
                        padding: 10px;
                        img{
                             width: 100px;
                             height: 100px;
                        }
                    }
                    .talk-man {
                        width: 10%;
                        text-align: center;
                        display: inline-block;
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        } 
    }
    .input-talk {
        width: 100%;
        line-height: 40px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        .input-text {
            display: inline-block;
            width: 68%;
            @include mg($l: 4%);
            input {
                color: #bbb;
                font-size: 14px;
                line-height: 26px;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #eee;
            }
        }
        .input-img-left {
            position: relative;
            // bottom: -4px;
            line-height: 40px;
            @include mg($l: 4%);
            display: inline-block;
            // width: 8%;
            span {
                font-size: 14px;
            }
        }
        .input-img-right {
            @extend .input-img-left
            
        }
    }
}