<template>
    <div>
        <!-- <router-view/> -->
        <router-view></router-view>
    </div>

</template>
<style src="./res/scss/public.css" lang="scss"></style>
<script>
export default {
    name: 'App'
}
</script>
