.index-mobile {
    background: #fafafa;

    .footer{
        border-top:1px solid #eee;
        position:fixed;
        bottom:0;
        left:0;
        background-color:white;
        width:100%;
        line-height:50px;

        .footer-imga {
            line-height:50px;
            display:inline-block;
            width:23%;
            text-align:center;
            i{
                vertical-align:middle;
                font-size:24px;
            }
        }
        .footer-imgb,.footer-imgc,.footer-imgd{
            @extend .footer-imga
        }


    }
    @mixin wh($w:100%,$h:80px) {
        width:$w;
        height:$h;
    }
    @mixin mg($t:0px,$r:0px,$b:0px,$l:0px) {
        margin-top:$t;
        margin-right:$r;
        margin-bottom:$b;
        margin-left:$l;
    }
    @mixin pd($t:0px,$r:0px,$b:0px,$l:0px) {
        padding-top:$t;
        padding-right:$r;
        padding-bottom:$b;
        padding-left:$l;
    }
    .under-line{
        margin-bottom: 10px;
        text-align: center;
        background: #fff;

        .red-line{
            width:7%;
            height:2px;
            background:#e6125d;
            display:inline-block;
            margin: 0 8%;
        }
    }

    .title-text {
        position:relative;
        text-align:center;
        width:100%;
        height:44px;
        background-color:#fff;
        line-height:44px;
        color: #333;

        .back-btn{
            width: 10%;
            position: absolute;
            top: 0;

            i {
                font-size: 16px;
            }
        }

        .banner-title {
            font-size: 14px;
            height: 100%;
        }
    }
    .bannar-swap {
        font-size:12px;
        background:#fff;
        width:100%;
        text-align: center;
        padding: 20px 0 0;

        .respond {
            position:relative;
            width:22%;
            display:inline-block;
            text-align:center;

            .red-tips{
                position:relative;

                .bannar-tips{
                    display:block;
                    background:#f00;
                    border-radius:50%;
                    width:5px;
                    height:5px;
                    top:0;
                    right:-10px;
                    position:absolute;
                }
            }
        }
        .seek, .finsh {
            @extend .respond
        }
        .finsh{
            padding-left:5px;
        }
    }

    .content{
        margin: 0 10px;
        box-sizing: content-box;

        .loading-label {
            font-size: 12px;
            color: #999;
            text-align: center;
            padding: 50px 0;
        }

        .content-modular{
            margin-bottom: 10px;
            padding: 12px 10px;
            box-sizing: border-box;
            background-color:#fff;
            height: 130px;
            position: relative;

            .pic-area{
                width: 30%;
                height: 100%;
                overflow: hidden;
                float: left;

                img {
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }

            .content-text{
                color: #999;
                margin-left: 33%;

                .content-header {
                    .type-name {
                        font-size: 14px;
                        color: #333;
                    }

                    .apply-time {
                        float: right;
                        font-size: 12px;
                        line-height: 18px;
                        color: #ccc;
                    }
                }

                .apply-description {
                    padding: 10px 0;
                    font-size: 13px;
                    color: #666;
                }

                .response-time {
                    position: relative;

                    .time-txt {
                        font-size: 12px;
                        margin-right: 5px;
                        padding: 2px 6px;

                        &.out {
                            border: 1px solid #ff4758;
                            color: #ff4758;
                            border-radius: 10px;
                        }
                    }

                    .response-image {
                        width: 50px;
                        position: absolute;
                        right: 0;
                        top: -23px;
                    }

                    .outtime-label {
                        font-size: 12px;
                        background: #ff4758;
                        color: #fff;
                        border-radius: 10px;
                        padding: 2px 9px;
                    }
                }

                .btn-area {
                    display: inline-block;
                    position: absolute;
                    bottom: 10px;

                    .btn {
                        color: #32353e;
                        text-align: center;
                        font-size: 12px;
                        border-radius: 20px;
                        padding: 6px 24px;
                        display: inline-block;
                        margin-right: 10px;

                        &.edit-btn {
                            border: 1px solid #aaa;
                        }

                        &.pay-btn {
                            border: 1px solid #ffa20e;
                            color: #ffa20e;
                            text-decoration: none;
                        }

                        &.response-btn {
                            border: 1px solid #ff7592;
                            color: #ff7592;
                        }

                        &.cancel-btn {
                            border: 1px solid #ccc;
                        }

                        &.contact-btn {
                            border: 1px solid #ff4758;
                            color: #ff4758;
                        }
                    }
                }


            }
        }

        .finsh-modular{
            display:none;
        }
        .sea-modular{
            display:none;
        }
    }
    .sec-btn{
        background-color:#ea6556;
        color:#FFFFFF;
        border:1px solid #ea6556;
    }

    .dis{
        display:none;
    }
    .banner-clolr-a{
        color:#333333;
    }
    .banner-clolr-b{
        color:#ea6556;
    }
    .feedback-btn{
        color:#ea6556;
        background-color:#FFFFFF;
        border:1px solid #ea6556;
    }
    .pafeedback-btn{
        position:absolute;
        right:0;
    }
    .finsh-feedback-btn{
        border:1px solid #ea6556;
        color:#ea6556;
    }
    .bannar-warp{
        .message{
            position:absolute;
            z-index:3;
            top:-4px;
            right:22px;
            i{
                font-size:22px;
            }
        }}
}
