<template>
    <div id="" class="index-mobile">
        <div class="title-text">
            <div class="back-btn" @click="goBack">
                <i class="iconfont">&#xe621;</i>
            </div>
            <div class="banner-title">我的找版需求</div>
        </div>
        <div class="bannar-swap">
            <div class="respond" @click="changeContainFn('1')" :style="feedback == 1? 'color:#ea6556': 'color: #fed0e0'">
                <span class="red-tips">
                    待接单
                </span>
            </div>
            <div class="seek" @click="changeContainFn('2')" :style="seek == 1? 'color:#ea6556': 'color: #fed0e0'">
                <span class="red-tips">
                    已接单
                    <!--<i class="bannar-tips"></i>-->
                </span>
            </div>
            <div class="finsh" @click="changeContainFn('3')" :style="finsh == 1? 'color:#ea6556': 'color: #fed0e0'">
                <span class="red-tips">
                    已结单
                </span>
            </div>
        </div>
        <div class="under-line">
            <div class="red-line" :style="feedback == 0 ? 'background-color:#fff': 'background-color:#ea6556'"></div>
            <div class="red-line" :style="seek == 0 ? 'background-color:#fff': 'background-color:#ea6556'"></div>
            <div class="red-line" :style="finsh == 0 ?'background-color:#fff': 'background-color:#ea6556'"></div>
        </div>
        <div class="content">
            <div class="loading-label" v-show="this.flag == false">加载中...</div>
            <!--待响应-->
            <div class="content-modular" :style="feedback == 0 ? 'display:none': 'display:block'" v-for="item in listBand" :key="item.id"  >
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                        <span class="apply-time" v-text="item.ctime.substr(5, 11) + '  发布'"></span>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <span class="time-txt" :class="item.overtime == 1 ? 'out' : ''">{{item.latest_time}} 前反馈</span>
                        <span class="outtime-label" :style="item.overtime != 1 ? 'display:none' : ''">超时</span>
                    </div>
                    <div class="btn-area">
                        <div class="cancel-btn btn" @click="unPublish(item.id)">撤单</div>
                        <div v-show="item.apply_status != 3" class="edit-btn btn" @click="editBand(item.type,item.id)">修改</div>
                        <a v-show="item.apply_status == 3" :href="'http://www.mlg.kim/pay/order/' + item.order_id" class="pay-btn btn">前往付款</a>
                    </div>
                </div>
            </div>
            <!--找版中-->
            <div class="content-modular sea-modular" :style="seek == 0 ? 'display:none': 'display:block'" v-for="item in listBand"  :key="item.index">
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                        <span class="apply-time" v-text="item.ctime.substr(5, 11) + '  发布'"></span>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <img src="../../../res/board/response.jpg" class="response-image" v-if="parseInt(item.new_response)" />
                        <span class="time-txt" :class="item.overtime == 1 && !parseInt(item.new_response) ? 'out' : ''">{{item.latest_time}}前反馈</span>
                        <span class="outtime-label" :style="item.overtime != 1 || parseInt(item.new_response) ? 'display:none' : ''">超时</span>
                    </div>
                    <div class="btn-area">
                        <div class="cancel-btn btn" v-show="item.confirmed_response == 0 && item.rejected_response == 0 &&  item.unconfirmed_response == 0" @click="unPublish(item.id)">撤单</div>
                        <span class="response-btn btn" v-show="item.confirmed_response > 0 || item.rejected_response > 0 ||  item.unconfirmed_response > 0"  @click="getResponeDetail(item.id)">查看反馈</span>
                        <router-link tag="span" v-if="!parseInt(item.new_response)" :to="{name:'talking',params:{id:item.agency_user_id}}" class="btn contact-btn">联系版哥</router-link>
                    </div>
                </div>
            </div>
            <!--已完成-->
            <div class="content-modular finsh-modular" :style="finsh == 0 ? 'display:none': 'display:block'" v-for="item in listBand"  :key="item.index">
                <div class="pic-area" @click="routerLinkDetail(item.id)">
                    <img :src="item.image_single" />
                </div>
                <div class="content-text">
                    <div class="content-header">
                        <strong v-text="item.type_name" class="type-name">加载中 - 加载中</strong>
                        <span class="apply-time" v-text="item.ctime.substr(5, 11) + '  发布'"></span>
                    </div>
                    <div v-text="item.description" class="apply-description"></div>
                    <div class="response-time">
                        <span class="time-txt">{{item.latest_time}} 已结单</span>
                    </div>
                    <div class="btn-area">
                        <span class="response-btn btn" v-if="parseInt(item.new_response)" @click="getResponeDetail(item.id)">查看反馈</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./board.js?v=1"></script>
<style src='./board.scss?v=1' lang="scss" scoped></style>
