@import url(../../../static/lib/swiper/swiper.min.css);
.index-mobile .footer {
  color: #bbb;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: -13px;
  left: 0;
  background-color: white;
  width: 100%;
  line-height: 50px; }
  .index-mobile .footer .footer-imga, .index-mobile .footer .footer-imgb, .index-mobile .footer .footer-imgc, .index-mobile .footer .footer-imgd {
    padding-top: 8px;
    line-height: 20px;
    display: inline-block;
    width: 23%;
    text-align: center; }
    .index-mobile .footer .footer-imga .index-page, .index-mobile .footer .footer-imgb .index-page, .index-mobile .footer .footer-imgc .index-page, .index-mobile .footer .footer-imgd .index-page {
      color: #bbb;
      font-size: 12px; }
    .index-mobile .footer .footer-imga i, .index-mobile .footer .footer-imgb i, .index-mobile .footer .footer-imgc i, .index-mobile .footer .footer-imgd i {
      vertical-align: middle;
      font-size: 24px; }
.index-mobile .bannar-warp {
  position: relative;
  text-align: center;
  width: 100%;
  height: 44px;
  background-color: #ea6556; }
  .index-mobile .bannar-warp .message {
    position: absolute;
    z-index: 3;
    top: -0;
    right: 22px; }
    .index-mobile .bannar-warp .message i {
      font-size: 22px; }
  .index-mobile .bannar-warp div {
    line-height: 44px;
    color: white; }
.index-mobile .car {
  margin-top: 14px;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 8px; }
  .index-mobile .car img {
    width: 100%; }
.index-mobile .fabric {
  position: relative;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 8px;
  background-color: #ff9c91;
  height: 40px; }
  .index-mobile .fabric .fabric-line {
    position: absolute;
    left: 25%;
    top: 20px;
    background-color: white;
    width: 50%;
    height: 1px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  .index-mobile .fabric .fabric-title {
    color: white;
    background-color: #ff9c91;
    height: 20px;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 12px;
    text-align: center; }
.index-mobile .fabric-content {
  position: relative;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: px; }
  .index-mobile .fabric-content .collection {
    position: relative;
    left: 8px;
    width: 47%; }
    .index-mobile .fabric-content .collection img {
      width: 100%; }
  .index-mobile .fabric-content .look {
    position: absolute;
    width: 47%;
    right: 8px;
    top: 0; }
    .index-mobile .fabric-content .look img {
      width: 100%; }
.index-mobile .fabric-content-b {
  margin-bottom: 60px; }
.index-mobile .swiper-container {
  width: 100%; }

/*# sourceMappingURL=home_mobile.css.map */
