<template>
    <div class="index-mobile">
        <div class="bannar-warp">
            <img src="../../res/home/logo.png" class="logo-image" />
            <div>长江金马面料馆</div>
             <div class="message"> <i class="iconfont">&#xe638;</i></div>
        </div>
            <!--轮播图-->
       <!-- <div class="car">
            <div class="swiper-container ">
                <div class="swiper-wrapper">
                     <div class="swiper-slide">
                         <img src="../../res/home/pic.png" alt="">
                     </div>
                    <div class="swiper-slide">
                         <img src="../../res/home/pic.png" alt="">
                     </div>
                     <div class="swiper-slide">
                         <img src="../../res/home/pic.png" alt="">
                     </div>
                </div>
            </div>
        </div>-->
            <!--面料-->
        <div class="fabric-wrap">
            <img class="main-image" src="../../res/home/fabric.png" />
            <div class="link-content">
                <a href="http://www.mlg.kim/Tf/list" class="link-item"></a>
                <a href="javascript:alert('即将推出')" class="link-item"></a>
            </div>

        </div>
        <div class="agency-wrap">
            <img class="main-image" src="../../res/home/agency.png" />
            <div class="link-content">
                <router-link tag="div"  class="link-item" :to="{name:'submit',params:{type:1}}"></router-link>
                <router-link tag="div"  class="link-item" :to="{name:'submit',params:{type:2}}"></router-link>
            </div>
        </div>
        <div class="manage-wrap">
            <img class="main-image" src="../../res/home/manage.png" />
        </div>
        <!--页脚-->
          <div class="footer">
             <div class="footer-imga"  onclick="window.location.href='http://www.mlg.kim/'">
                 <div> <i class="iconfont" :style="indexPage == 0 ? 'color:#666':'color:#ea6556'">&#xe6cb;</i></div>
                 <div class="index-page" :style="indexPage == 0 ? 'color:#666':'color:#ea6556'">首页</div>
             </div>
             <div class="footer-imgb" onclick="window.location.href='http://www.mlg.kim/Collect/Index/colorboard.shtml'">
                 <i class="iconfont" :style="needPage == 0 ? 'color:#666':'color:#ea6556'">&#xe78d;</i>
                 <div class="index-page" :style="needPage == 0 ? 'color:#666':'color:#ea6556'">色卡篮</div>
             </div>
             <div class="footer-imgc" onclick="window.location.href='/agency/board'">
                 <i class="iconfont" :style="colorPage == 0 ? 'color:#666':'color:#ea6556'">&#xe754;</i>
                 <div class="index-page" :style="colorPage == 0 ? 'color:#666':'color:#ea6556'">发布</div>
             </div>
             <div class="footer-imgd"  onclick="window.location.href='http://www.mlg.kim/User/Center/index.shtml'">
                 <i class="iconfont" :style="nimePage == 0 ? 'color:#666':'color:#ea6556'">&#xe625;</i>
                 <div class="index-page" :style="nimePage == 0 ? 'color:#666':'color:#ea6556'">我的</div>
             </div>
        </div>
    </div>
</template>
<link rel="stylesheet" href="/static/lib/swiper/swiper.min.css" />
<script src="/static/lib/swiper/swiper.min.js"></script>
<script src='./home_mobile.js'></script>
<style src='./home_mobile.scss' lang="scss" scoped></style>
