@import url(../../../static/lib/swiper/swiper.min.css);

.index-mobile{
    //background: #EDEDED;

    .footer{
        color:#bbb;
        border-top:1px solid #eee;
        position:fixed;
        bottom: 0;
        left:0;
        background: #fff;
        width:100%;
        line-height: 50px;
        height: 50px;

        .footer-imga{
            padding-top: 5px;

            .index-page{
                color:#bbb;
                font-size:12px;
                padding-top: 2px;
            }
            line-height:20px;
            display:inline-block;
            width:23%;
            text-align:center;
            i{
                vertical-align:middle;
                font-size:22px;
            }
        }
        .footer-imgb,.footer-imgc,.footer-imgd{
            @extend .footer-imga
        }


    }
    @mixin wh($w:100%,$h:80px){
        width:$w;
        height:$h;

    }
    @mixin mg($t:0px,$r:0px,$b:0px,$l:0px){
        margin-top:$t;
        margin-right:$r;
        margin-bottom:$b;
        margin-left:$l;
    }
    @mixin pd($t:0px,$r:0px,$b:0px,$l:0px){
        padding-top:$t;
        padding-right:$r;
        padding-bottom:$b;
        padding-left:$l;
    }
    .bannar-warp{
        border-bottom: 1px solid #eeeeee;

        .message{
            position:absolute;
            z-index:3;
            top:-0;
            right:22px;
            color: #999;

            i{
                font-size:22px;
            }
        }

        position:relative;
        text-align:center;
        width:100%;
        height:46px;
        color: #000;
        background-color:#fff;
        line-height: 46px;

        .logo-image {
            position: absolute;
            left: 15px;
            height: 30px;
            top: 8px;
        }
    }
    .car{
        @include mg(14px, 8px, 0, 8px);
        img{
            width:100%;
        }
    }

    .fabric-wrap {
        padding: 10px 10px 0;
        position: relative;

        .main-image {
            width: 100%;
        }
    }

    .agency-wrap {
        padding: 10px 10px 0;
        position: relative;

        .main-image {
            width: 100%;
        }
    }

    .manage-wrap {
        padding: 10px 10px;
        position: relative;

        .main-image {
            width: 100%;
        }
    }

    .link-content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 50%;

        .link-item {
            height: 100%;
            width: 50%;
            float: left;
        }
    }
}
